.container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 9px;
    left: 18px;
}

@media (max-width: 1600px) {
    .container {
        transform: scale(0.85);
        left: -18px;
    }
}

@media (max-width: 1024px) {
    .container {
        transform: scale(0.7);
        left: -75px;
    }
}

